
@font-face
{
    font-family: 'Raleway';
    src: url('polices/Raleway/Raleway-VariableFont_wght.ttf'), url('polices/Raleway/Raleway-Italic-VariableFont_wght.ttf'), url('polices/Raleway/Raleway-Bold-VariableFont_wght.ttf')
}
*
{
    font-family: Raleway, Arial, "Arial Black", "Comic Sans MS", "Courier New"; 
}
a:link
{
    text-decoration: none;
}
.element_h
{
    border: 3px blue solid;
}
*
{
    font-family: Raleway, Arial, "Arial Black", "Comic Sans MS", "Courier New"; 
}
.element_h
{
    border: 3px blue solid;
}
body {
    margin: 0;
    padding: 0;
}
/* header */
header nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header nav a
{
    border: 1px #000000;
}
.nav_header
{
    align-items: center;
    justify-content: flex-end;
    border: 1px #000000;
    
}
.nav-link
{
    margin-right: 1em;
    color: #000000;
}
.nav-link:hover
{
    color: #0065FC;
    padding-top: 2em;
    border-top: 3px solid #0065FC;
}
.nav-link2
{
    color: #0065FC;
    margin-right: 2em;
}
/* filter */
.text_filter {
    margin-left: 1em;
    margin-top: 2em;
}
#search
{
    display: flex;
    width: auto;
    margin: 1em;
}
#loc_logo
{
    height: 40px;
    width: 2.5em;
    border: 2px F2F2F2;
    border-radius: 0.75em 0em 0em 0.75em;
    background-color: #F2F2F2;
    position: relative;
}
.fa-map-marker-alt 
{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loc_text
{
    border: none;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    font-weight: bold;
}
#loc_send
{
    height: 40px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0em 0.75em 0.75em 0em;
    border: 0px #0065fc;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background: #0065fc;
}
.loc_send_mini
{
    display: none;
}
.container_filter
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em;
}
.filter
{
    font-weight: bold; 
    border-radius: 1.5em;
    border: 2px #F2F2F2 solid;
    height: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
}
.filter:hover
{
    color: #0065FC;
    background: #DEEBFF;
}
.logo_filter
{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #0065FC;
}
.filter p
{
    margin-left: 3em;
    margin-right: 1em;
}
.info
{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}
.fa-info
{
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #0065FC;
    text-align: center;
    border: 2px #DEEBFF solid;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
}
/* container_1 */
.container_1
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    background: #F2F2F2;
    width: 66%;
    height: 50em;
    margin-left: 1em;
}
.container_1 h2
{
    width: 100%;
    top: 3em; 
    margin-left: 1em;
    margin-top: 2em
}
.block_1
{
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 1em;
    width: 29%;
    height: 35%;
    background: #ffffff;
    color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.imgc1
{
    border-radius: 1em 1em 0em 0em;
    width: 100%; 
    max-height: 60%;
    object-fit: cover; 
}
.textb1
{
    margin: 0px;
    margin-left: 1em;
    padding: 0px;
    width: auto; 
    box-sizing: content-box
}
.nav-c1
{
    color: #000;
    font-weight: bold;
    margin-left: 2em;
    margin-bottom: 1em;
}
/* container_2 */
.container_2
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    background: #F2F2F2;
    width: 30%;
    margin-left: 1.5em;
}
.c2_title
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 1.5em;
    margin-left: 1em; 
    margin-right: 1em;  
}
.block_2
{
    padding: 0.5em;
    margin-top: O.5em;
    margin-left: 1.5em; 
    margin-right: 1.5em;
    border-radius: 1em;
    width: 100%;     
    height: 24%;
    background: #ffffff;
    color: black;
    display: flex;
}
.block_2 img
{
    width: 35%;
}
.imgc2
{
    border-radius: 1em 0em 0em 1em;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.text_b2
{
    width: 60%;
    margin-left: 1em;    
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}
.stars2
{
    margin-top: auto;
    margin-left: 0%;
}
/* body */
.main
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.fa-star.blue
{
    color: #0065fc;
}
.fa-star.grey
{
    color: #757575;
}
/* Grid */
.Activités
{
    margin-top: 2em; 
    margin-left: 1em;
}
.wrapper 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1em;
    height: 27em;
    margin-bottom: 3em;
}
.wrapper a
{
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-radius: 1.5em;
    box-shadow: 1.5px 1.5px 10px #F2F2F2;
}
.one 
{
    grid-column: 1;
    grid-row: 1 / 28;
}
.two 
{
    grid-column: 2;
    grid-row: 1 / 15;
}
.three 
{
    grid-column: 2;
    grid-row: 18 / 28;
}
.four 
{
    grid-column: 3;
    grid-row: 1 / 28;
}
.five 
{
    grid-column: 4;
    grid-row: 1 / 12;
}
.six 
{
    grid-column: 4;
    grid-row: 15 / 28;
}
.wrapper a img
{
    border-radius: 1.5em 1.5em 0em 0em;
    width: 100%;
    object-fit: cover; 
}
.img_grid1
{
    height: 23em;
}
.img_grid2
{
    height: 10em;
    width: 100%;
}
.img_grid3
{
    height: 6em;
    width: 100%;
}
.img_grid4
{
    height: 23em;
    width: 100%;
}
.img_grid5
{
    height: 7em;
    width: 100%;
}
.img_grid6
{
    height: 9em;
    width: 100%;
}
.wrapper a h4
{
    color: #000000;
    margin-left: 1.5em;
}
/* footer */
footer
{
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: space-between;
    background-color: #F2F2F2;
}
footer div
{
    width: 33%;
}
footer div a p
{
    color: black;
    height: 0em;
}

/* modifs tablette */
@media all and (max-width: 1200px)
{
    header nav
    {
        flex-wrap: wrap;
        display: flex;
    }
    .nav_header
    {
        flex-wrap: wrap-reverse;
        display: flex;
        text-align: center;
        width: 100%;
        height: 8em;
        margin-top: 8em;
        position: absolute;
        z-index: 1;
    }
    #logo-header
    {
        position: absolute;
        z-index: 2;
    }
    .nav-link2
    {
        margin-right: 1em;
    }
    .nav-link
    {
        width: 50%;
        margin-right: 0;
        padding-bottom: 1em;
        border-bottom: 3px solid #F2F2F2;
    }
    .nav-link:hover
    {
        color: #0065FC;
        padding-top: 0em;
        padding-bottom: 1em;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    
    /* filter */
    .container-filter
    {
        margin-top: 8em;
    }
    #search
    {
        justify-content:center;
    }
    .main
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #loc_send
    {
        display: none;
    }
    .loc_send_mini
    {
        width: 2.5em;
        height: 40px;
        border-radius: 0.5em;
        background: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
    }
    /* container_1 */
    .container_1
    {
        background-color: #FFFFFF;
        width: 100%;
        height: 162em;
        margin-left: 0px;
    }
    .imgc1
    {
        width: 100%; 
    }
    .block_1
    {
        width: 100%;
        margin-right: 1.5em;
        height: 22em;
        margin: 1.5em;
        box-shadow: 1.5px 1.5px 10px #F2F2F2;
    }
    /* container_2 */
    .container_2
    {
        width: 100%;
        height: auto;
        margin-left: 0;
        border-radius: 0px;
    }
    .block_2
    {
        height: auto;
        max-height: 180px;
        margin-top: 0em;
        margin-bottom: 1.5em;
    }
    .block_2 img
    {
        width: 40%;
    }
    .text_b2 h4
    {
        max-height: 40px;
    }
    .text_b2 p
    {
        max-height: 20px;
    }
    
    /* Grid */
    .wrapper 
    {
        display: flex;        
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100em;
    }
    .wrapper a
    {
        width: auto;
        margin-right: 1.5em;
        height: 15em;
        margin: 1.5em;
    }
    .wrapper a img
    {
        border-radius: 1.5em 1.5em 0em 0em;
        width: 100%;
        height: 10em;
        object-fit: cover; 
    }
    /* footer */
    footer div
    {
        width: 100%;
    }
}

